- stash(title => l('Volatility Index Markets'));

.grd-container
  .volidx-markets.static_full
    .grd-grid-3.grd-hide-mobile
      .sidebar
        %ul#sidebar-nav
          %li#sidebar-link-section-1.selected
            %a{:href => "#what-are-volidx-markets"}= l('How to trade the volatility indices markets?')
          %li#sidebar-link-section-2
            %a{:href => "#volidx-indices"}= l('Continuous Indices')
          %li#sidebar-link-section-3
            %a{:href => "#volidx-quotidians"}= l('Daily Reset Indices')
        .sidebar-button
          %a.pjaxload{:href => url_for('trade.cgi?market=volidx')}= l('Place a volatility index trade')
    .grd-grid-9.grd-grid-mobile-12.grd-parent
      .section
        %a#what-are-volidx-markets
        .section-content
          #section-1
            .grd-grid-12
              %h1= l('How to trade the volatility indices markets?')
              %p= l('[_1] has created Volatility Indices that you can trade 24/7. You can trade these on all types of contract:', stash->{website_name});
            .grd-grid-7.grd-grid-mobile-12
              %ul.checked
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=volidx&form_name=risefall")}= l('Rise/Fall')
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=volidx&form_name=higherlower")}= l('Higher/Lower')
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=volidx&form_name=touchnotouch")}= l('Touch/No Touch')
                %li!= l('In/Out (<a href="[_1]">ends between/outside</a> and <a href="[_2]">stays between/goes outside</a>)', url_for("trade.cgi?market=volidx&form_name=endsinout"), url_for("trade.cgi?market=volidx&form_name=staysinout"))
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=volidx&expiry_type=duration&form_name=asian&underlying_symbol=R_100&time=5t")}= l('Asians')
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=volidx&expiry_type=duration&form_name=digits&underlying_symbol=R_100&time=5t")}= l('Digits')
            .grd-grid-5.grd-grid-mobile-12
              %img.responsive{:src => url_for('images/pages/get-started/get-started-volidx-markets.svg')}
            .clearfix
            %p= l('Volatility Indices are further categorized into three types:');
            %ul.bullet
              %li 
                != l('Continuous Indices')
              %li 
                != l('Daily Reset Indices')
      .section
        %a#volidx-indices
        .section-content
          #section-2
            .grd-grid-12
              %h1= l('Continuous Indices')
              %p
                != l('[_1]\'s Continuous Indices are the [_2], [_3], [_4], and [_5]. These indices correspond to simulted markets with constant volatilities of 25%, 50%, 75% and 100%', stash->{website_name}, pjax_link_for(l('Volatility 25 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_25')), pjax_link_for(l('Volatility 50 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_50')), pjax_link_for(l('Volatility 75 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_75')), pjax_link_for(l('Volatility 100 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_100')))
            #volidx-indices-container
              .grd-grid-8.grd-grid-mobile-12
                %p
                  != l('The [_1] is twice as volatile as the [_2], and four times as volatile as the [_3].', pjax_link_for(l('Volatility 100 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_100')), pjax_link_for(l('Volatility 50 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_50')), pjax_link_for(l('Volatility 25 Index'), url_for('trade.cgi?market=volidx&form_name=risefall&underlying_symbol=R_25')))
              .grd-grid-4.grd-grid-mobile-12
                %img.responsive{:src => url_for('images/pages/get-started/get-started-volidx-indices.svg')}
            .clearfix
      .section
        %a#volidx-quotidians
        .section-content
          #section-3
            .grd-grid-12
              %h1= l('Daily Reset Indices')
              %p.heading= l('Daily Reset Indices replicate markets with a bullish and bearish trend, with a constant volatility.', stash->{website_name})
              %p
                != l('Bull Market and Bear Market Indices start at 1000 at 00:00 GMT each day, replicating a bullish and bearish market respectively.')
