.grd-grid-12.static_full
  %h1= l('Password Reset')
  %p.notice-msg= l("Please check your email to retrieve the token needed to reset your password.")
  %div#reset-form.grd-parent.grd-row-padding
    %div.rbox.form
      %div.rbox-wrap
        %form
          %fieldset
            %legend= l('Details')
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "verification-code"}= l('Verification Token')
                %div.grd-grid-8
                  %input#verification-code{:type => 'text', :maxlength => '48', autocomplete => 'off'}
                  %div.hint= l('Please check your email for the value of this token')
                  %p#verification-error.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "reset-password1"}= l('New Password')
                %div.grd-grid-8
                  %input#reset-password1{:type => 'password', :maxlength => '48', autocomplete => 'off'}
                  %p#password-meter-container
                  %p#password-error1.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "reset-password2"}= l('Confirm New Password')
                %div.grd-grid-8
                  %input#reset-password2{:type => 'password', :maxlength => '48', autocomplete => 'off'}
                  %p#password-error2.errorfield.invisible
              %div.grd-row-padding.row.clear
                %div.grd-grid-4.form_label
                  %label{:for => "dob"}= l('Date of Birth')
                %div.grd-grid-8
                  %input#dob{:type => 'text', autocomplete => 'off'}
                  %div.hint= l('Format: yyyy-mm-dd (not required for virtual-money accounts)')
                  %p#dob-error.errorfield.invisible
                %p#reset-error.errorfield.invisible
        %span.button
          %button#reset.button{:name => "submit" :type => "button"}= l('Reset Password')