- stash(
-   title => l('Charting'),
- );

.grd-grid-12
  %h1= l('Charting')
  %p= l('[_1] provides a variety of charts to help you determine what markets to trade on. Try them out.',stash->{website_name})
.grd-grid-12
  %h2= l('Webtrader')
  %p= l('Flexible charting platform with a variety of customisable features.')
  .grd-grid-6.grd-grid-mobile-6.grd-parent.ja-hide
    .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
      %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}
        %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/webtrader.svg')}
      %h3= l('Web version')
    .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
      %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}
        %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/webtrader-g-app.svg')}
      %h3= l('Chrome app')
    .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
      %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}
        %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/webtrader-ff-app.svg')}
      %h3= l('Firefox app')
      .grd-grid-12
        %h2= l('Tradingview')
        %p= l('Advanced charting platform with a wide range of technical indicators.')
        .grd-grid-6.grd-grid-mobile-6.grd-parent.ja-hide
          .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
            %a.pjaxload{:href => '//tradingview.binary.com', :target => '_blank'}
              %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/tradingview.svg')}
            %h3= l('Web version')
          .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
            %a.pjaxload{:href => 'https://chrome.google.com/webstore/detail/binarycom-charts-tradingv/hjfmkhhogfkmedagjkdbgpineanneemh', :target => '_blank'}
              %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/tradingview-g-app.svg')}
            %h3= l('Chrome app')
          .grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
            %a.pjaxload{:href => 'https://marketplace.firefox.com/app/binary-ltd-tradingview-charts', :target => '_blank'}
              %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/tradingview-ff-app.svg')}
            %h3= l('Firefox app')
.grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
  .grd-grid-8.grd-with-padding
    %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}
      %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/highcharts.svg')}
  .grd-grid-12
    %h4
      %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}= l('Webtrader')
    %p= l('Flexible charting platform with a variety of customisable features.')
.grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
  .grd-grid-8.grd-with-padding
    %a.pjaxload{:href => '//tradingview.binary.com', :target => '_blank'}
      %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/light-charts.svg')}
  .grd-grid-12
    %h4
      %a.pjaxload{:href => '//tradingview.binary.com', :target => '_blank'}= l('TradingView')
    %p= l('Advanced charting platform with a wide range of technical indicators.')
